{% extends 'base.html' %}

{% block content %}

    <h2>Contact Form</h2>
    {% if message != '' %}
        <div class="alert alert-danger" style="width : 50%; background-color : red;">
            <strong>{{ message }}</strong>
        </div>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="reset">
        <button type="submit">Submit</button>
        <button><a href="{% url 'signup' %}" style="text-decoration : none; color:black">s'inscrire</a></button>
    </form>

{% endblock %}
